@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600');

html, body {
    height: 100%;
}

body {
    font-family: "Montserrat";
    text-decoration: none;

    margin: 0;
    padding: 0;
}

#main_container {
    height: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

#main_container p {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    font-size: 18px;
}


#main_title_container {
    display: inline-flex;
    flex-wrap: wrap;

    justify-content: center;
}

.main_title {
    display: flex;
    font-weight: 300;
    font-size: 50px;
    padding: 0;
    margin: 0;
    line-height: 1;

    padding: 0 5px;
}

.main_title span {
    font-weight: 600;
}


